.footer_input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.footer_content>form>section {
    display: flex;
    gap: 20px;
}

.footer_content>form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_box>input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
    height: 30px;
    color: white;
    font-size: 15px;
    font-style: italic;
}

.input_box>input:hover {
    border-bottom: 2px solid black;
}

.footer_content>h1 {
    color: white;
    font-size: 25px;
    font-family: var(--font-family);
}

.input_box>label {
    color: white;
    font-size: 20px;
    font-family: var(--font-family);
}

.footer_content>form>textarea {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    height: 100px;
    padding: 30px 10px;
    color: white;
    font-size: 15px;
    font-style: italic;
    resize: none;
}

.footer_content>form>textarea:hover {
    border-bottom: 2px solid black;
}

.footer_content>form>textarea::placeholder {
    color: white;
    font-size: 18px;
}

.but>button {
    width: 200px;
    background-color: var(--dark-color);
    color: white;
    border: none;
    height: 45px;
    font-size: 17px;
    border-radius: 25px;
    font-weight: bolder;
}

.but>button:hover {
    background-color: white;
    color: var(--blue-color);
    font-weight: bolder;
}

.but {
    display: flex;
    gap: 30px;
}

/* ---------------------Media------------------------ */

@media only screen and (max-width: 1100px) {
    .footer_input {
        align-items: center;
    }

    .footer_content {
        align-items: center;
        justify-content: center;
    }

    .footer_content>form {
        align-items: center;
        justify-content: center;
    }

    .footer_content>form>section {
        flex-direction: column;
        align-items: center;
    }

    .footer_content {
        align-items: center;
    }

    .input_box>input {
        width: 280px;
    }

    .footer_content>form>textarea {
        width:280px;
    }

    .but>button {
        width: 160px;
    }
}